@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Montserrat, arial;
  color: black;
}


html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Jakarta;
  src: url(../public/webfonts/PlusJakartaSans-Medium.woff2) format('woff2'),
    url(../public/webfonts/PlusJakartaSans-Medium.woff) format('woff');
}

.imgPoject {
  transition: transform 0.3s ease-in-out;
}

.imgPoject:hover {
  transform: translate(20px, 20px);
}

.btn-container {
  position: relative;
  display: inline-block;
}

.info-span {
  position: absolute;
  top: -50px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.btn-container:hover .info-span {
  opacity: 1;
  pointer-events: auto;
}

.tooltip { 
  background-color: rgb(216, 216, 216) !important;
  color: black;
  padding: 2px !important;
  border-radius: 5px;
  color: black !important;
}